language: python
python:
  - 2.7
  - 3.4

sudo: false

# Setup anaconda
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda

# Install packages
install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION pip numpy matplotlib nose
  - pip install -e "git+https://github.com/z4r/python-coveralls.git#egg=pycoveralls"
  - pip install nose-cov
  - pip install .

# Run test
script:
  - nosetests --with-cov --cov=spline --cov-config=.coveragerc --logging-level=DEBUG

# Calculate coverage
after_success:
  - coveralls --config_file .coveragerc
